@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #00dbf2;
    --primary-dark: #007f8e;
    --secondary: #00303a;
    --neutral-light: #f2f2f2;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply antialiased;
  }
  .c-container {
    @apply container mx-auto p-4 lg:p-8;
  }
  .button-primary {
    @apply flex items-center py-2 px-8 rounded text-neutralLight font-bold shadow-sm bg-primary-dark hover:brightness-90 focus:brightness-90 duration-300 ease-in-out;
  }
}

button:focus,
input:focus,
div:focus,
a:focus {
  outline-color: var(--primary-dark);
  outline-offset: 2px;
}
