@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #00dbf2;
    --primary-dark: #007f8e;
    --secondary: #00303a;
    --neutral-light: #f2f2f2;
  }
  * {
    @apply box-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply min-h-screen antialiased;
  }
  .c-container {
    @apply container mx-auto p-4 lg:p-8;
  }
}
